
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> Other files ###
.idea
.env.local
.env.test
.php_cs.cache
bin/.phpunit
###> Other files ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem

###< lexik/jwt-authentication-bundle ###
